In [2]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
cast = pd.read_csv(r"C:\Users\avoav\Introduction to Data Science\Project סמסטר א\project-semester-a\Cast.csv"  )
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

1.	How many movies have the title "Hamlet"?

In [4]:

hamlet = cast[cast.title == "Hamlet"]
len(hamlet)

114

 2.List all of the "Treasure Island" movies from earliest to most recent.

In [5]:
Treasure_Island = cast[cast.title == "Treasure Island"]
Treasure_Island.sort_values(by = "year", ascending = True)

,title,year,name,type,character,n
778631,Treasure Island,1918,Joe Grant,actor,Undetermined child role,NaN
768752,Treasure Island,1918,Charles Gorman,actor,Prologue Player,NaN
313097,Treasure Island,1918,Francis Carpenter,actor,Jim Hawkins,1.0
842286,Treasure Island,1918,Edwin Harley,actor,Prologue Player,NaN
648794,Treasure Island,1920,Al W. Filson,actor,Bill Bones,3.0
...,...,...,...,...,...,...
807985,Treasure Island,1999,Paul Gutrecht,actor,Some Guy,20.0
193382,Treasure Island,1999,Jonah Blechman,actor,The Body,3.0
283873,Treasure Island,1999,Bob Byington,actor,Thomas,12.0
411804,Treasure Island,1999,Becket Cook,actor,The Gent,13.0
545971,Treasure Island,1999,Jamie Donovan,actor,John,21.0

3.	How many roles were credited in the silent 1921 version of Hamlet?

In [6]:
hamlet_1 = hamlet[hamlet.year == 1921]
#print(hamlet_1)
len(hamlet_1)

4

4.	Use groupby() to plot the number of "Hamlet" films made each decade

In [12]:
hamlet['decade'] = hamlet.year%100%10
h = hamlet[['decade', 'title']].groupby(['decade']).count()
h

<ipython-input-12-c26bcef63d7d>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hamlet['decade'] = hamlet.year%100%10

        title
decade
0          20
1           7
3          12
4          22
5           1
6          25
8           4
9          23

In [13]:
#just check...
hamlet[hamlet['decade'] == 8]

,title,year,name,type,character,n,decade
91568,Hamlet,1948,Felix Aylmer,actor,Polonius - Lord Chamberlain,15.0,8
279308,Hamlet,1948,Anthony Bushell,actor,Bit Part,NaN,8
454826,Hamlet,1948,Peter Cushing,actor,Osric,8.0,8
909296,Hamlet,1948,Stanley Holloway,actor,Gravedigger,9.0,8

5.	How many leading (n=1) roles were available to actors, and how many to actresses, in each year of the 1950s?

In [186]:
ca = cast[(cast.year>= 1950) & (cast.year<=1960)]
ca = ca[ca.n == 1]
len(ca)

3352

6.	List the 10 actors/actresses that have the most leading roles (n=1) since the 1990's.

In [187]:
actors = cast[cast['year'] >= 1990]
actors = actors[actors['n']== 1.0]
actors.name.value_counts().head(10)

Jayaram               76
Ajay Devgn            69
Amitabh Bachchan      68
Nagarjuna Akkineni    60
Dilip                 59
Govinda               58
Kamal Haasan          56
Suresh Gopi           54
Sanjay Dutt           54
Stephen Chow          52
Name: name, dtype: int64

7.	List, in order by year, each of the films in which Frank Oz has played more than 1 role

In [190]:
#there is no such name in this data, so I use other name...

c = cast[cast.name=='Francis Carpenter']
c['roles_num'] = c.title.value_counts()[1]
c[c.roles_num > 1].sort_values(by = 'year')

<ipython-input-190-afae8fecaf8e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c['roles_num'] = c.title.value_counts()[1]

,title,year,name,type,character,n,roles_num
313085,Old Heidelberg,1915,Francis Carpenter,actor,Prince Karl - Age 5,13.0,2
313090,The Commanding Officer,1915,Francis Carpenter,actor,The Boy,9.0,2
313096,The Patriot,1916,Francis Carpenter,actor,Billy Allen,3.0,2
313094,The Little School Ma'am,1916,Francis Carpenter,actor,One of the Children,NaN,2
313089,The Children in the House,1916,Francis Carpenter,actor,Child,13.0,2
313084,Martha's Vindication,1916,Francis Carpenter,actor,Francis,8.0,2
313083,Macbeth,1916,Francis Carpenter,actor,Macduff Child,17.0,2
313082,Let Katie Do It,1916,Francis Carpenter,actor,Adams Child,12.0,2
313073,A Sister of Six,1916,Francis Carpenter,actor,Benjamin,6.0,2
313079,Intolerance: Love's Struggle Throughout the Ages,1916,Francis Carpenter,actor,Child in Epilogue,NaN,2
313078,Gretchen the Greenhorn,1916,Francis Carpenter,actor,A Garrity Kid,NaN,2
313077,Going Straight,1916,Francis Carpenter,actor,Remingtons' Child,4.0,2
313080,Jack and the Beanstalk,1917,Francis Carpenter,actor,Francis,1.0,2
313074,Aladdin and the Wonderful Lamp,1917,Francis Carpenter,actor,Aladdin,1.0,2
313075,Cheerful Givers,1917,Francis Carpenter,actor,Orphan,14.0,2
313087,The Babes in the Woods,1917,Francis Carpenter,actor,Roland,1.0,2
313088,The Babes in the Woods,1917,Francis Carpenter,actor,Hansel,1.0,2
313081,Jack and the Beanstalk,1917,Francis Carpenter,actor,Jack,1.0,2
313092,The Girl with the Champagne Eyes,1918,Francis Carpenter,actor,Miner's Child,8.0,2
313076,Fan Fan,1918,Francis Carpenter,actor,Hanki Pan,2.0,2
313097,Treasure Island,1918,Francis Carpenter,actor,Jim Hawkins,1.0,2
313098,True Blue,1918,Francis Carpenter,actor,"Bob, as a child",2.0,2
313091,The Forbidden Room,1919,Francis Carpenter,actor,Francis Clark,12.0,2
313093,The Infamous Miss Revell,1921,Francis Carpenter,actor,Revell Child,8.0,2
313086,Rip Van Winkle,1921,Francis Carpenter,actor,Hendrick Vedder,7.0,2
313095,The Lone Star Ranger,1923,Francis Carpenter,actor,Laramie's Son,8.0,2